/* Color Scheme */
:root {
  --brand-color: #0073ec;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #111016;
  --dark-blue: #1e2740;

  --background-color: var(--dark);
  --background-alt-color: #1a1a1f;

  --toggle-background-color: var(--dark-blue);
  
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  
  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);

  --button-color: var(--white);
  --button-background-color: var(--brand-color);
  --button-background-hover: #4f31c7;

  --border-color: #252629;
  --border-color-alt: #080b12;

  --th-color: #18181d;;
  --tr-color: #080b12;
}